<!DOCTYPE html>
<html lang="en">
    <!--Head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayPredict</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<div class="topnav" id="myTopnav">
    <a href="#home" class="active">PlayPredict</a>

    <div class="dropdown">
      <button class="dropbtn">Click Me
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="dropdown-content">
        <div class="dropdown">
        <a href="#">Seasons</a>

        </div>
      </div>

    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>


<body >
    <!-- Plays table -->
    <div style=" height:500px; overflow:auto;">
        <table cellspacing="0" cellpadding="1" border="1" width="400" height="325" align="right">
            <tr>
              <td>Plays</td>
            </tr>
            <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
            </tr>
            </tr>
          </table>  
    </div>
    
    <!-- Something table -->
    <div class="table2" style = "height:400px; overflow:auto;">
        <table cellspacing="0" cellpadding="1" border="1" width="400" height="325" align="right">
            <tr>
              <td>Predictions</td>
            </tr>
            <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
            </tr>
               <tr>
              <td>new item</td>
          </table>  
    </div>

    <!--stats at bottom-->
    <div class="stats">
        <table cellspacing="0" cellpadding="1" border="1" width="400" height="100" align="center">
            <tr>
                <td>stats</td>
              </tr>
    </div>

</body>
</html> 
