<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayPredict</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <div class="content">

        <div class="topnav">
            <div class="green">
                <p>PlayPredict</p>
            </div>
        </div>


        <div class="information">
            <div class="column1">
              <div class="videoViewer">
                <video width=100% height=100% controls>
                  <source src="/static/videos/Wide.mp4" type="video/mp4">
                </video>
              </div>

              <div class="gameStats">
                {% for stat in stats %}
                <ul>
                  <li>{{ stat['name'] }} - {{ stat['value'] }}</li>
                </ul>
                {% endfor %}
              </div>

            </div>

            <hr style="height: 100%; width: 5px;" />

            <div class="column2">
              <div class="plays">
                {% for play in plays %}
                <ul>
                  <li>Play {{ play['number'] }}</li>
                </ul>
                {% endfor %}

              </div>

              <hr style="height: 5px; width: 100%;" />

              <div class="Predictions">
                {% for prediction in predictions %}
                <ul>
                  <li>#{{ prediction['rank'] }} - {{ prediction['play'] }}, {{ prediction['formation'] }}</li>
                </ul>
                {% endfor %}
              </div>
            </div>
        </div>

    </div>



</body>
</html>
